node-linker=hoisted
enable-pre-post-scripts=true
auto-install-peers=true
resolution-mode=highest
use-node-version=20.11.1
prefer-frozen-lockfile=false
shamefully-hoist=true

recursive-install=true
experimental-features=true
use-beta-cli=true 